.hero-container {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

/* Remove gap between this and feature card */
.hero-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1vh; /* Adjust as needed to reduce space */
  border-radius: 10px;
}

.hero-left {
  flex: 0 0 66.66%;
  padding: 10px;
}

.hero-right {
  flex: 0 0 33.33%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

/* Responsive for tablets and phones */
@media (max-width: 768px) {
  .hero-left,
  .hero-right {
    flex: 0 0 100%;
    padding: 8px;
  }
}
